.Row {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
}
.Column {
  display: inline-flex;
}

.GroupContainer{
  padding-top: 25px;
}

.welcome{
  text-align: center;
}