.Row {
  display: inline-flex;
  width: 100%; /*Optional*/
  /* table-layout: fixed; Optional */
}
.Column {
  display: flex;
  flex-grow: 2;
}

.GroupInput{
  display: flex;
  flex-grow: 2;
  font-size: 1.1rem;
  padding: 5px 1px 5px 1px;
}

.NewGroup {
  flex-grow: 0;
}

.GroupContainer{
  padding-top: 25px;
}

.welcome{
  text-align: center;
}