.Row {
  display: inline-flex;
  width: 100%; /*Optional*/
  /* table-layout: fixed; Optional */
}
.Column {
  display: flex;
  flex-grow: 2;
}

.GroupInput{
  display: flex;
  flex-grow: 2;
  font-size: 1.1rem;
  padding: 5px 1px 5px 1px;
}

.NewGroup {
  flex-grow: 0;
}

.GroupContainer{
  padding-top: 25px;
}

.welcome{
  text-align: center;
  color: white;
  padding-left: 5px;
}

.logoutBtn{
  display:flex;
  border-radius: 10px;
  margin: 19.92px 7px;
  background-color:red;
  display:flex;
  justify-content: center;
	cursor:pointer;
	text-decoration:none;
}

.logout{
  color:#ffffff;
  font-size:1rem;
  text-decoration:none;
}